.vs/FileBrowser/v15/Server/sqlite3/storage.ide-shm
.vs/FileBrowser/v15/Server/sqlite3/storage.ide
.vs/FileBrowser/DesignTimeBuild/.dtbcache
.vs/FileBrowser/v15/Server/sqlite3/storage.ide-wal
.vs/FileBrowser/v15/Server/sqlite3/db.lock
